* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: azure;
}


/** Navbar **/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
} 

.logo {
    font-size: 25px;
    text-shadow: 1px 1.5px 0 blue;
} 

.logo:hover, .active {
    text-shadow: 1px 1.5px 5px blue;
}

.nav-link:hover {
    /* color:lemonchiffon; */
    /* background-color: blue; */
    text-shadow: 1px 1.5px 5px blue;
}

    /* Navbar Toggle */
.nav-toggle {
    cursor: pointer; 
    display: none;
    padding: 0 15px;
}    
    
.nav-toggle div {
    width: 35px; 
    height: 3px;
    margin: 5px 0;
    background-color: blue;
    transition: 0.4s;
}

.nav-toggle.is-active div:nth-child(1) {
    transform: rotate(45deg) translate(10px, 2px);
}

.nav-toggle.is-active div:nth-child(2) {
    background-color: transparent;
}

.nav-toggle.is-active div:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -1px);
}
    
@media only screen and (max-width: 550px) {
    .nav-links {
        display: none;
    }
        
    .nav-toggle {
        display: block;
    }
}
/** End of Navbar **/


/** Welcome Section **/ 
.welcome-section {
    text-align: center;
    padding: 10px 25px;
} 

.welcome-section p {
    margin-bottom: 30px;
}

.welcome-btn {
    text-decoration: none;
    background-color: #fff;
    border: 2px solid skyblue;
    border-radius: 10px;
    color: skyblue;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5px;
    padding: 10px 20px;
    cursor: pointer;
    /* transition: 0.4s ease; */
}

.welcome-btn:hover {
    box-shadow: 1px 1px 10px skyblue, 
                -1px -1px 10px skyblue;
} 